<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Powerfull website you should know</title>
    <meta name="title" content="Powerfull website you should know" />
    <meta
      name="description"
      content="Discover a curated list of powerful websites you should know about. Stay updated with the best tools, resources, and services on the internet to enhance your productivity, knowledge, and entertainment." />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Powerfull website you should know" />
    <meta
      property="og:description"
      content="Discover a curated list of powerful websites you should know about. Stay updated with the best tools, resources, and services on the internet to enhance your productivity, knowledge, and entertainment." />
    <meta
      property="og:image"
      content="https://metatags.io/images/meta-tags.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta
      property="twitter:title"
      content="Powerfull website you should know" />
    <meta
      property="twitter:description"
      content="Discover a curated list of powerful websites you should know about. Stay updated with the best tools, resources, and services on the internet to enhance your productivity, knowledge, and entertainment." />
    <meta
      property="twitter:image"
      content="https://metatags.io/images/meta-tags.png" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/favicon/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />

    <link rel="stylesheet" href="assets/css/global.css" />
    <link href="assets/fonts/remixIcon/remixicon.css" rel="stylesheet" />
  </head>
  <body>
