<nav class="navbar bg-light text-light py-3 border-bottom" id="navbar">
  <div class="container-fluid px-4">
    <a
      class="navbar-brand d-inline-flex align-items-center brand-logo"
      href="/">
      <div class="brand-logo_circle">
        <i class="ri-tools-fill brand-logo_icon"></i>
      </div>
      <!-- <span class="d-none d-md-block fs-6 brand-logo_text">
        Powerfull website you should know
      </span> -->
    </a>

    <div class="d-flex">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-medium text-primary" href="#">
            <i class="ri-moon-line ri-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
